/node_modules
/public/storage
/storage/*.key
/public/buildresults.html
/public/testresults.html
/public/robots.txt
/config/seeding.php
/config/github.php
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
