php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors off
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/a/abuyanl7/pem1.lvse.ru/pem1.lvse.ru.error.log
php_value error_reporting 2047
php_value log_errors_max_len 0
php_value error_reporting "E_ALL"

<Files PHP_errors.log>
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks

    RewriteEngine on

    RewriteCond %{REQUEST_URI} !^/public/.*$
    RewriteRule ^(.*)$ /public/$1 [QSA,L]
    
</IfModule>
