
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/**********PEM CUSTOMS************/
ul.pem-tree {
  width:1000px;
  box-sizing:border-box;
  li {
    width:100%;
    padding:0;
    p {
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin: -20px 0 0;
        &:hover {
          background-color:#d5e9f5;
        }
        font {
          display: block;
          text-align: left;
          flex-basis: 400px;
          float: right;
          padding-left: 10px;
          box-sizing: border-box;
        }
        span {
          flex-shrink: 9999;
        }
    }
  }
}